.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}

.header .logo-container {
  position: relative;
  height: 50%;
}

.logo-container .alpha-logo {
  width: 30px;
  max-height: 100%;
}
.alpha-logo.glitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}
.alpha-logo.glitch.show {
  animation: glitch .3s ease-in;
}

.header .wallet-adapter-button {
  background-color: transparent;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 7px;
}
.header .wallet-adapter-button[disabled] {
  background-color: transparent;
}

.wallet-adapter-button .wallet-info {
  display: flex;
  flex-direction: column;
  line-height: initial;
  text-align: left;
}

.wallet-info .wallet-balance {
  font-size: 14px;
}

.wallet-info .wallet-address {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
}

.app .dashboard {
  width: 300px;
  /*border: 1px solid white;
  border-radius: 5px;*/
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard .icon-zap {
  margin: 20px 0;
  cursor: pointer;
}

.dashboard .zap-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(270deg, #9945ff, #14f195);
  background-size: 400% 400%;
  animation: gredientAnimation 10s ease infinite;
  cursor: pointer;
  margin-top: 30px;
}

.icon-zap.loading {
  animation: shining .3s ease-in infinite;
}

.dashboard .swap-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.swap-option + .swap-option {
  margin-top: 10px;
}

.jupiter-logo-container {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.jupiter-logo-container .jupiter-logo {
  width: 30px;
  height: 30px;
}
.jupiter-logo-container .logo-text {
  font-weight: 700;
  font-size: 18px;
  margin-left: 5px;
}

.token {
  display: flex;
  align-items: center;
}

.token .icon {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #424242;
}

.token .symbol {
  font-size: 24px;
  font-weight: bold;
}

.input-wrap {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.number-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  text-align: right;
  font-size: 24px;
}
